  h1 {
  font-family: 'Raleway', sans-serif;
}

table {
  font-family: 'Raleway', sans-serif;
  
}

@font-face {
    font-family: 'si';
    src: url('hollycherney.github.io/socicon.eot');
    src: url('hollycherney.github.io/socicon.eot#iefix') format('embedded-opentype'),
         url('hollycherney.github.io/socicon.woff') format('woff'),
         url('hollycherney.github.io/socicon.ttf') format('truetype'),
         url('hollycherney.github.io/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
 
}
 
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(PATH_TO/socicon.svg) format(svg);
    }
}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 44px;
    -webkit-border-radius: 53px;
    -moz-border-radius: 53px;
    border-radius: 53px;
    margin-right: 20px;
    color: #ffffff;
    background-color: none;
}

.soc-icon-last{
    margin:0 !important;
}

.soc-twitter {
    background-color: #4da7de;
}
.soc-twitter:before {
    content:'a';
}
.soc-facebook {
    background-color: #3e5b98;
}
.soc-facebook:before {
    content:'b';
}
.soc-linkedin {
    background-color: #3371b7;
}
.soc-linkedin:before {
    content:'j';
}
.soc-instagram {
    background-color: #9c7c6e;
}
.soc-instagram:before {
    content:'x';
}
.soc-tumblr {
    background-color: #45556c;
}
.soc-tumblr:before {
    content:'z';
}
.soc-email1 {
    background-color: #578AD6;
}
.soc-email1:before {
    content:'<';
}
.soc-youtube {
    background-color: #e02a20;
}
.soc-youtube:before {
    content:'r';
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-align: center;
}

#images {
  width: 650px;
  height: 400px;
  overflow: hidden;
  position: relative;
  
  margin: 20px auto;
}
#images img {
  width: 650px;
  height: 400px;
  
  position: absolute;
  top: 0;
  left: -400px;
  z-index: 1;
  opacity: 0;
  
  transition: all linear 500ms;
  -o-transition: all linear 500ms;
  -moz-transition: all linear 500ms;
  -webkit-transition: all linear 500ms;
}
#images img:target {
  left: 0;
  z-index: 9;
  opacity: 1;
}
#images img:first-child {
  left: 0;
  opacity: 1;
}
#slider a {
  ext-decoration: none;
  background: #bfbfbf;
  border: 1px solid #bfbfbf;
  padding: 4px 6px;
  color: #222;
}
#slider a:hover {
  background: #ca8a6c;
}

#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 25px
}

#nav li {
  display: inline-block;
  column-span: all;
}

#nav a {
  text-decoration: none;
  padding: 20px 40px;
  /* variable width */
}

a {
  display: block;
  color: black;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  padding: 10px 20px;
  background-color: #bfbfbf;
}

li a:hover {
  background-color: #ca8a6c;
  .active {
    background-color: #ca8a6c;
  }
