h1 {font-family: 'Raleway', sans-serif; }

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 25px}
#nav li {
display:inline-block;
}
#nav a {
text-decoration:none; 
padding:20px 40px; /* variable width */
}

a {
    display: block;
    color: black;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding: 10px 20px;
    background-color: #bfbfbf;
}
li a:hover {
    background-color: #ca8a6c;
.active {
    background-color: #ca8a6c;
}
